body {
  background-color:olivedrab;
  margin:auto;
  width:100vw;
}

h1 {
  background-color:yellow;
  text-align:center;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
}

.imglist {
  max-width:100%;
}

.picture {

}